<div id="logo"><%= image_tag "mantra.gif" %></div>
<div id="sidebar">
<% unless @notice.nil? %>
  <div id="latest_translation">
    <h4 id="title">Latest Translation</h4>
    <h5 id="subtitle"><%= link_to @notice.page_info,
    manga_page_path(@notice.manga,@notice.page, :active => @notice.translation_pos) %></h5>
    <p id="ago"><%= distance_of_time_in_words_to_now @notice.created_at %> ago</p>
    <p id="japanese" class="translation"><%= @translation.japanese %></p>
    <p id="english" class="translation"><%= @translation.english %></p>    
  </div>
<% end %>
<% unless @article.nil? %>
  <div id="blog">
    <h4 id="title">Blog</h4>
    <h5 id="subtitle"><%= link_to @article.title, @article %></h5>
    <p id="date"><%= @article.published_date %></p>
    <p id="content"><%= truncate(@article.body, :length=>100) %></p>
  </div>
<% end %>
</div>

<div id="main">
<h1 id="title"><%= pl('ongoing_projects') %></h1>
<div id="mangas"><%= render "mangas" %></div>
<div id="manga_search"><%= render "manga_search" %></div>
</div>

<div class="clear"></div>

<% if user_signed_in? %>
<div id="links_bottom">
  <%= link_to new(:manga), new_manga_path %>
</div>
<% end %>
