<div id="logo"><%= image_tag "mantra.gif" %></div>
<div class="clear"></div>

<h1 id="title"><%= pl('ongoing_projects') %></h1>

<div id="mangas"><%= render "mangas" %></div>
<div id="manga_search"><%= render "manga_search" %></div>

<div id="sidebar">
<% unless @article.nil? %>
  <h4 id="title">BLOG</h4>
  <h5 id="subtitle"><%= link_to @article.title, @article %></h5>
  <p id="date"><%= @article.published_date %></p>
  <p id="content"><%= truncate(@article.body, :length=>100) %></p>
<% end %>
</div>
<div class="clear"></div>

<% if user_signed_in? %>
<div id="links_bottom">
  <%= link_to "New manga", new_manga_path %>
</div>
<% end %>
