<div id="logo"><%= image_tag "mantra.gif" %></div>
<div class="clear"></div>

<div id="main">
<h1 id="title"><%= pl('ongoing_projects') %></h1>
<div id="mangas"><%= render "mangas" %></div>
<div id="manga_search"><%= render "manga_search" %></div>
</div>

<div class="clear"></div>

<% if user_signed_in? %>
<div id="links_bottom">
  <%= link_to new(:manga), new_manga_path %>
</div>
<% end %>
