<div id="logo"><%= image_tag "mantra.gif" %></div>
<div id="catch_phrase">- translating community</div>
<div class="clear"></div>

<h1 id="title"><%= pl('ongoing_projects') %></h1>

<div id="mangas"><%= render "mangas" %></div>
<div id="manga_search"><%= render "manga_search" %></div>

<div class="clear"></div>

<div id="links_bottom">
  <%= link_to "New manga", new_manga_path %>
</div>
