<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.Jcrop" %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var x1 = <%= @active.x1 %>
      var y1 = <%= @active.y1 %>
      var x2 = <%= @active.x1+@active.x2 %>
      var y2 = <%= @active.y1+@active.y2 %>
      $('#rectangle').Jcrop({
        onChange: update_rect,
        onSelect: update_rect,
        setSelect: [x1||100, y1||100, x2||200, y2||200],
      });
      
/*      $("div.translation").live("mouseenter", function(){
        var arr = $("form#new_translation").attr("action").split('/');
        arr.pop();
        $.get(arr.join('/')+"?active="+this.id.split("_")[1], null, null, "script");
      });
*/
    });
    function update_rect(coords){
        $("#translation_x1").val(coords.x);
        $("#translation_y1").val(coords.y);
        $("#translation_x2").val(coords.w);
        $("#translation_y2").val(coords.h);
    }
  </script>
<% end %>

<%= content_for(:top) do %>
<div id="page_nav">
  <% if @first_page %>
    Previous
  <% else %>
    <%= link_to "Previous", previous_manga_page_path(@manga,@page,:active => @active.pos) %>
  <% end %>

  <% if @last_page %>
    Next
  <% else %>
    <%= link_to "Next", next_manga_page_path(@manga,@page,:active => @active.pos) %>
  <% end %>
</div>
<% end %>
<div id="image">
  <%= image_tag @page.image.url, :id => "rectangle" %>
</div>

<div id="translations"><%= render "translations/translations" %></div>
<div class="clear"></div>
