<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.Jcrop" %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var x1 = $("#translation_x1").val();
      var y1 = $("#translation_y1").val();
      var x2 = parseInt($("#translation_x2").val())+parseInt(x1);
      var y2 = parseInt($("#translation_y2").val())+parseInt(y1);
      $('#rectangle').Jcrop({
        onChange: update_rect,
        onSelect: update_rect,
        setSelect: [x1||100, y1||100, x2||200, y2||200],
      });
    });
    function update_rect(coords){
        $("#translation_x1").val(coords.x);
        $("#translation_y1").val(coords.y);
        $("#translation_x2").val(coords.w);
        $("#translation_y2").val(coords.h);
    }
  </script>
<% end %>

<div id="image">
  <%= image_tag @page.image.url, :id => "rectangle" %>
</div>

<div id="translations">
  <div id="top_empty_translation_fillout" class="<%= top_translation_fillout_classes %>"></div>
  <% @translations.each_with_index do |translation,i| %>
    <% if @active == i+1 && !@translation.new_record? %>
      <div id="translation_form" class="<%= translation_form_classes %>">
        <%= render 'translations/form' %>
      </div>
    <% else %>
      <%= render translation, :active => @active,
          :first => @translations.first == translation,
          :last => @translations.last == translation %>
    <% end %>
  <% end %>
  <% if @translation.new_record? %>
  <div id="translation_form" class="<%= translation_form_classes %>">
    <%= render 'translations/form' %>
  </div>
  <% end %>
  <div id="bottom_empty_translation_fillout" class="<%= bottom_translation_fillout_classes %>"></div>
</div>
<div class="clear"></div>
