<div id="translation_<%= translation.pos %>"
     class="translation<%= translation.classes(@active.pos,last) %>"
     data-x1="<%= translation.x1 %>"
     data-y1="<%= translation.y1 %>"
     data-x2="<%= translation.x2 %>"
     data-y2="<%= translation.y2 %>">
  <div class="text_container">
    <span id="japanese"><%= translation.japanese %></span><br />
    <span id="english"><%= translation.english %></span>
  </div>
  <div id="arrow_container">
    <% if @translation.new_record? %>
      <% if first %> 
      <% else %>
        <span id="up_arrow">
          <%= link_to(('▲'),
          move_up_manga_page_translation_path(@manga,@page,translation),
        :method => :put) %>
      <% end %>
      </span>
    <% end %>
    <% if @translation.new_record? %>
      <% if last %>
      <% else %>
      <span id="down_arrow">
        <%= link_to(('▼'),
        move_down_manga_page_translation_path(@manga,@page,translation),
        :method => :put) %>
      <% end %>
      </span>  
    <% end %>
  </div>
  <% if @translation.new_record? %>
  <div id="links">
    <%= link_to t(:show), manga_page_path(@manga,@page,:active=>translation.pos) %>
    <%= link_to t(:edit), edit_manga_page_translation_path(@manga,@page,translation) %>
    <%= link_to t(:del), [@manga,@page,translation], :confirm => sure?, :method => :delete %>
  </div>
  <% end %>
</div>
