<div id="translation_<%= translation.slug %>"
     class="translation<%= translation.classes(active,last) %>">
  <div id="text_container">
    <span id="japanese"><%= translation.japanese %></span><br />
    <span id="english"><%= translation.english %></span>
  </div>
  <div id="arrow_container">
    <% if @translation.new_record? %>
      <span id="up_arrow">
        <%= link_to((image_tag 'up_arrow.gif', :title => "up_arrow", :alt => "up_arrow" ),
        move_up_manga_page_translation_path(@manga,@page,translation),
        :method => :put) unless first %>
      </span>
    <% end %>
    <% if @translation.new_record? %>
      <span id="down_arrow">
        <%= link_to((image_tag 'down_arrow.gif', :title => "down_arrow", :alt => "down_arrow"),
        move_down_manga_page_translation_path(@manga,@page,translation),
        :method => :put) unless last %>
      </span>  
    <% end %>
  </div>
  <% if @translation.new_record? %>
  <div id="links">
    <%= link_to t(:edit), edit_manga_page_translation_path(@manga,@page,translation) %>
    <%= link_to t(:del), [@manga,@page,translation], :confirm => sure?, :method => :delete %>
  </div>
  <% end %>
</div>
