<!DOCTYPE html>
<html>
  <head>
    <title>Mantra - <%= yield(:title).blank? ? "translating community" : yield(:title) %></title>
    <%= stylesheet_link_tag 'compiled/default',
        'compiled/authorizations', 'compiled/devise',
        'compiled/coderay', 'compiled/manga', 'compiled/article',
        'compiled/notifier', 'compiled/history' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <![endif]-->
    <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
  </head>
  <body>
    <div id="root">
      <% flash.each do |key, value| %>
      <div id="flash" class="<%= key %> round"><%= value %></div>
      <div class="clear"></div>
      <% end %>
      <div id="container" class="round">
        <div id="site_menu">
          <div id="site_nav">
            <%= link_to list_p(:manga), mangas_path %>
            <%= link_to list_p(:article), articles_path %>
            <%= link_to @manga.title, @manga unless @page.nil? %>
          </div>
          <% unless @page.nil? %>
          <div id="top">
            <%= yield(:top) %>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <div id="signed_in">
            <%= t('message.signed_in_as',:id=>current_user.email) %> Not you? <%= link_to t(:sign_out), destroy_user_session_path %>.
          </div>
          <% end %>
          <div class="clear"></div>
        </div>
        <% if user_signed_in? && @sidebar.nil? && @notices.nil? %>
        <% else %>
        <div id="user_nav">
          <% unless user_signed_in? %>
          <div id="authorizations">
            <a href="/auth/twitter" class="auth_provider">
              <h5>Log in with Twitter</h5>
              <div>twitter</div>
            </a>
            <a href="/auth/open_id" class="auth_provider">
              <h5>Connect with OpenID</h5>
              <div>OpenID</div>
            </a>
            <center>Or <%= link_to d(:sign_in), new_user_session_path %> with email</center>
          </div>
          <% end %>
          <% if @sidebar %>
          <div id="sidebar">
           <% unless @latest_notice.nil? %>
            <div id="latest_translation">
              <h4 id="title">Latest Translation</h4>
              <h5 id="subtitle"><%= link_to @latest_notice.page_info,
                                    manga_page_path(@latest_notice.manga,@latest_notice.page, :active => @latest_notice.translation_pos) %></h5>
              <p id="ago"><%= distance_of_time_in_words_to_now @latest_notice.created_at %> ago</p>
              <p id="japanese" class="translation"><%= @latest_notice.japanese %></p>
              <p id="english" class="translation"><%= @latest_notice.english %></p>
            </div>
            <% end %>
            <% unless @latest_article.nil? %>
            <div id="blog">
              <h4 id="title">Blog</h4>
              <h5 id="subtitle"><%= link_to @latest_article.title, @latest_article %></h5>
              <p id="date"><%= @latest_article.published_date %></p>
              <p id="content"><%= truncate(@latest_article.body, :length=>100) %></p>
            </div>
            <% end %>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <% unless @notices.nil? %>
          <div id="notifier">
            <%= render @notices %>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
        <div id="content">
          <% if @home || !user_signed_in? %>
          <div id="home">
            <% unless yield(:title).blank? %>
            <h1 id="title"><%= yield(:title) %></h1>
            <% end %>
            <%= yield %>
          </div>
          <% else %>
          <div id="yield">
            <% unless yield(:title).blank? %>
            <h1 id="title"><%= yield(:title) %></h1>
            <% end %>
            <%= yield %>
          </div>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
